{% extends 'base.html' %}

{% block title %}Links{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7 mx-auto">
        <h1 class="fw-bold mb-4">My Links</h1>
        <a href="/links/create" class="btn text-capitalize btn-primary mb-4">Create Link</a>
        {% if not links %}
        <p>You don't have any link, please <a href="/links/create">Create</a> a new link!</p>
        {% endif %}

        {% for link in links %}
        <div class="card mb-1">
            <div class="card-body">
                <p class="fw-bold mb-1">{{ link.title }}</p>
                <small>Full URL : <a href="{{ link.url }}" class="text-primary d-block">{{ link.url }}</a></small>
                <small>Shortened URL : <a href="/{{ link.shorten_url }}" class="text-primary d-block">{{
                        link.shorten_url|combine_shorten_url
                        }}</a></small>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <small class="text-muted">Created on {{ link.date_created|datetimeformat }}</small>
                    <div>
                        <span class="badge bg-primary text-capitalize link-status">{{ link.status }}</span>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-danger w-100 delete-link-button" data-id="{{ link.id }}">
                            Delete</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-success w-100" id="">
                            Edit</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-primary w-100 set-status-button" data-id="{{ link.id }}">
                            Set to {{ 'Private' if link.status == 'public' else 'Public' }}</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}