<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='bootstrap-5/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" />
</head>

<body class="bg-gray-200">
    <nav class="navbar navbar-expand-sm py-3 py-sm-2 navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold text-primary" href="/">SaveLinks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/links">Links</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link d-inline-block pe-0 pe-sm-1" href="/">
                            {{user.username}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-inline-block pe-0 pe-sm-1" href="/logout">
                            <div class="btn btn-danger btn-sm px-3 py-2">Logout</div>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link d-inline-block pe-0 pe-sm-1" href="/login">
                            <div class="btn btn-primary btn-sm px-3 py-2">Login</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-inline-block ps-0 ps-sm-1" href="/register">
                            <div class="btn btn-outline-primary btn-sm px-3 py-2">Register</div>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-{% if messages[0][0] == 'success' %}success{% else %}danger{% endif %} alert-dismissible fade show"
        role="alert">
        {{ messages[0][1] }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}

    <div class="container my-5">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='bootstrap-5/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>